<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bjpowernode.crm.setting.mapper.DictionaryValueMapper">


    <select id="selectDicValueByTypeCode" resultType="DictionaryValue">
        select
            id,value,text,order_no orderNo,type_code typeCode
        from tbl_dic_value
        where type_code = #{typeCode}
    </select>
</mapper>
