<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bjpowernode.crm.setting.mapper.DictionaryTypeMapper">
    <insert id="insertDicType">
        insert into tbl_dic_type
        (code,name,description)
        values
        (#{code},#{name},#{description})
    </insert>


    <select id="selectAllDictionaryType" resultType="DictionaryType">
        select code,name,description
        from tbl_dic_type
    </select>
    <select id="selectDicTypeByCode" resultType="DictionaryType">
        select code,name,description
        from tbl_dic_type
        where code = #{code}
    </select>
</mapper>
