<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bjpowernode.crm.workbench.mapper.ActivityMapper">

    <resultMap id="activityResultMap" type="activity">
        <id property="id" column="id"/>
        <result column="edit_time" property="editTime"/>
        <result column="edit_by" property="editBy"/>
        <result column="owner" property="owner"/>
        <result column="name" property="name"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="cost" property="cost"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
    </resultMap>

    <resultMap id="activityRemarkResultMap" type="activityRemark">
        <id property="id" column="id"/>
        <result column="note_content" property="noteContent" />
        <result column="edit_time" property="editTime"/>
        <result column="edit_by" property="editBy"/>
        <result column="edit_flag" property="editFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="activity_id" property="activityId"/>
    </resultMap>


    <insert id="insertActivity">
        insert into tbl_activity
        (id,owner,name,start_date,end_date,cost,description,create_time,create_by)
        values
        (
        #{id},
        #{owner},
        #{name},
        #{startDate},
        #{endDate},
        #{cost},
        #{description},
        #{createTime},
        #{createBy}
        )
    </insert>
    <!--批量插入多条活动记录    -->
    <insert id="insertActivityByList">
        insert into tbl_activity
        (id,owner,name,start_date,end_date,cost,description,create_time,create_by)
        values
        <foreach collection="list" item="activity" separator=",">
            (
            #{activity.id},
            #{activity.owner},
            #{activity.name},
            #{activity.startDate},
            #{activity.endDate},
            #{activity.cost},
            #{activity.description},
            #{activity.createTime},
            #{activity.createBy}
            )
        </foreach>
    </insert>


    <update id="updateActivity">
        <!--判断是否为空，主要是为了防止用户误操作-->
        update tbl_activity
        <set>
            <if test="owner!=null and owner!=''">
                owner = #{owner},
            </if>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="startDate!=null and startDate!=''">
                start_date = #{startDate},
            </if>
            <if test="endDate!=null and endDate!=''">
                end_date = #{endDate},
            </if>
            <if test="cost!=null and cost!=''">
                cost = #{cost},
            </if>
            <if test="description!=null and description!=''">
                description = #{description},
            </if>
            edit_by = #{editBy},
            edit_time = #{editTime}
        </set>
        where id = #{id}
    </update>


    <select id="selectActivityListByPage" resultMap="activityResultMap">
        select id,name,owner,start_date,end_date
        from tbl_activity limit #{index},#{pageSize}
    </select>

    <select id="selectAllActivity" resultMap="activityResultMap">
        select a.id,a.name,u.name owner,a.start_date,a.end_date,a.cost,a.description
        from tbl_activity a
        left join tbl_user u
        on a.owner = u.id
        order by a.create_time desc
    </select>

    <select id="selectActivityForCondition" resultMap="activityResultMap">
        select
        a.id,a.name,u.name owner,a.start_date,a.end_date
        from tbl_activity a
        left join tbl_user u
        on a.owner = u.id
        <where>
            <if test="name!=null and name!=''">
                a.name like "%"#{name}"%"
            </if>
            <if test="owner!=null and owner!=''">
                <!--
                and owner = #{owner}
                where语句在select语句执行前执行，此时字段还没有进行重命名
                不能像上面这么写......
                -->
                and u.name = #{owner}
            </if>
            <if test="endDate!=null and endDate!=''">
                and a.start_date &lt;= #{endDate}
            </if>
            <if test="startDate!=null and startDate!=''">
                and a.end_date>= #{startDate}
            </if>
        </where>
        order by a.create_time desc



    </select>
    <select id="selectActivityById" resultMap="activityResultMap">
        select
        id,name,owner,start_date,end_date,cost,description
        from tbl_activity
        where id = #{id}
    </select>

    <delete id="deleteActivityByIds">
        delete from tbl_activity
        where id in
        (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
    <select id="selectActivityByIds" resultMap="activityResultMap">
        select a.id,a.name,u.name owner,a.start_date,a.end_date,a.cost,a.description
        from tbl_activity a
        left join tbl_user u
        on a.owner = u.id
        where a.id in
        <foreach collection="array" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
        order by a.create_time desc
    </select>
    <select id="selectActivityByIdConvertOwner" resultMap="activityResultMap">
        select
            a.id,
            a.name,
            u.name owner,
            a.start_date,
            a.end_date,
            a.cost,
            a.description,
            u1.name create_by,
            a.create_time,
            u2.name edit_by,
            a.edit_time
        from tbl_activity a
        left join tbl_user u
        on a.owner = u.id
        left join tbl_user u1
        on a.create_by = u1.id
        left join tbl_user u2
        on a.edit_by = u2.id
        where a.id = #{id}
    </select>
    <select id="selectActivityRemarkByActivityId" resultMap="activityRemarkResultMap" >
        select
        ar.id,
        ar.note_content,
        ar.create_time,
        ar.create_by,
        ar.edit_time,
        u2.name edit_by,
        ar.edit_flag,
        ar.activity_id
        from tbl_activity_remark ar
        <!--
        left join tbl_user u1
        on ar.create_by = u1.id
        -->
        left join tbl_user u2
        on ar.edit_by = u2.id
        where activity_id = #{activityId}
        order by ar.create_time desc
    </select>

    <insert id="insertActivityRemark">
        insert into tbl_activity_remark
        (
        id,
        note_content,
        create_time,
        create_by,
        edit_time,
        edit_by,
        edit_flag,
        activity_id
        )
        values
        (
        #{id},
        #{noteContent},
        #{createTime},
        #{createBy},
        #{editTime},
        #{editBy},
        #{editFlag},
        #{activityId}
        )
    </insert>

    <delete id="deleteActivityRemarkById">
        delete from tbl_activity_remark where id = #{id}
    </delete>

    <update id="updateActivityRemark">
        update tbl_activity_remark set
        note_content = #{noteContent},
        edit_by=#{editBy},
        edit_time=#{editTime},
        edit_flag=#{editFlag}
        where id = #{id}
    </update>
</mapper>
